<header class="page-header">
  <h1>Community Feed</h1>
</header>

<main class="posts-container">
  <article class="posts-card">
    <h2>BLOG</h2>
    <p>This is the description of the first post.</p>
    <button>Delete</button>
  </article>

  <article class="posts-card">
    <h2>POST</h2>
    <p>This is the description of the second post.</p>
    <button>Delete</button>
  </article>

  <article class="posts-card">
    <h2>THOUGHTS</h2>
    <p>This is the description of the third pots.</p>
    <button>Delete</button>
  </article>
</main>
